.header_education{
    position: relative;
    z-index: 2;
    
    
}
.header_education::after{
    @apply w-[363px] md:w-[595px] h-[180px] md:h-[274px]  absolute -bottom-[160px] md:-bottom-[120px] left-auto md:left-0 right-0 bg-right md:right-auto content-[''] bg-no-repeat bg-[url('img/uni-header-bg_2.png')] md:bg-[url('img/uni-header-bg.png')] z-[1] ;
        

  
}

.freeConsultation{
    position: relative;
}
.freeConsultation::after{
    @apply  absolute  md:hidden w-full h-[178px] -bottom-[40px] z-[1]  content-[''];
    

    
    
    background: linear-gradient(180deg, rgba(250, 245, 239, 0.00) 0%, #FAF5EF 82.1%);
}