.header_tourism{
    position: relative;
    z-index: 1;
    
    
}
.header_tourism::after{
    @apply w-full h-full max-h-[500px]  absolute -bottom-[30%] right-0  content-[''] bg-no-repeat md:bg-[url('img/tourism_header_bg.png')] z-[1] ;
        
}

.bulletClass {
  width: 8px;
  height: 4px;
  opacity: 0.3;
  background: #594636;
  cursor: pointer;
}
.bulletActiveClass {
  width: 35px;
  height: 4px;
  opacity: 1;
  background: #594636;
}

