/* styles/VerticalCarousel.module.css */

.bulletClass {
  width: 8px;
  height: 4px;
  opacity: 0.3;
  background: #594636;
  cursor: pointer;
}
.bulletActiveClass {
  width: 35px;
  height: 4px;
  opacity: 1;
  background: #594636;
}

.swiperButtonPrev, .swiperButtonNext {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
     
    
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
}
